@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --red: hsl(0, 100%, 74%);
  --green: hsl(154, 59%, 51%);
  --blue: hsl(248, 32%, 49%);
  --dark-blue: hsl(249, 10%, 26%);
  --grayish-blue: hsl(246, 25%, 77%);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: var(--red);
  background-image: url("./images/bg-intro-desktop.png");
}

h1 {
  font-size: 2.5em;
  line-height: 1.2;
  font-weight: 700;
}

.container {
  display: flex;
  max-width: 100%;
  width: 1000px;
  margin: 0 auto;
  height: 100vh;
  align-items: center;
}

.container > div {
  flex: 1;
}

.left {
  margin: 2em;
  color: #fff;
}

.left p {
  font-size: 0.85em;
  line-height: 1.6;
  font-weight: 400;
}

.right {
  margin: 2em;
}

.box {
  background: var(--blue);
  text-align: center;
  padding: 1em 0;
  color: var(--grayish-blue);
  border-radius: 10px;
  box-shadow: 0px 7px 0px -1px hsla(249, 10%, 26%, 0.2);
  font-weight: 400;
}

.box .white-text {
  color: #fff;
  font-weight: 500;
}

form {
  background-color: #fff;
  border-radius: 10px;
  padding: 2em 2.5em;
  box-shadow: 0px 7px 0px -1px hsla(249, 10%, 26%, 0.2);
}
input {
  width: 100%;
  padding: 1.3em 1.4em;
  border: 1px solid hsla(249, 10%, 26%, 0.2);
  border-radius: 5px;
  outline: none;
  margin-top: 10px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}
input::placeholder {
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  /* color: var(--grayish-blue); */
}

input[type="submit"] {
  background-color: var(--green);
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.6em;
  box-shadow: 0 4px 1px -2px var(--green);
  outline: none;
  cursor: pointer;
  padding: 10px;
  text-align: center;
}

input:focus {
  border-color: black;
}

input[type="submit"]:focus,
input[type="submit"]:hover {
  opacity: 0.8;
  /* border: none; */
  border-color: var(--green);
}
form > div {
  position: relative;
}

small.error-text {
  display: none;
  text-align: right;
  color: var(--red);
  font-size: 0.7em;
}
.error-icon {
  position: absolute;
  top: 34%;
  right: 5%;
  width: 5%;
  display: none;
}

small.termscondition {
  display: block;
  text-align: center;
  margin-top: 10px;
  font-size: 0.6em;
  color: var(--grayish-blue);
}

.terms {
  color: var(--red);
}

.error > .error-icon,
.error > .error-text {
  display: block;
}

@media screen and (max-width: 768px) {
  .container {
    text-align: center;
    flex-direction: column;
  }
  h1 {
    font-size: 2em;
  }
  .left {
    margin-bottom: 0;
  }
  .left p {
    font-size: 1.2em;
  }

  .box {
    padding: 10px 80px;
  }
  input[type="submit"] {
    font-size: 0.7em;
    font-weight: 300;
  }
}
